.material-icons {
    font-size: 22px;
}

.authentication-small-link.align-start {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 35px;
}

.login-password-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.authentication-small-link {
    padding-right: 20px;
}